body {
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0; /* Remove default body margin */
  overflow:hidden
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.square {
  width: 100px; /* Adjust square size as needed */
  height: 100px; /* Adjust square size as needed */
  background-color: #000000;
  margin: 10px; /* Add spacing between squares */
}

h1 {
  display: flex; /*This makes it easier to organize and space things out the way i want on my webpage*/
  font-size: 1.5em; /* the size of the letters*/
  letter-spacing: 0.2em; /*spaces in between the letters*/
  color: red; /*color of the letters*/
  
}

h2 {
  display: flex; /*this makes it easier to organize and space things out the way i want on my webpage*/
  font-size: 1.8em; /*the size of the letters*/
  align-items: center; /* this tells the webpage which position it should have*/
  justify-content: center; /*this tells the webpage which position it should have*/
  height: 30vh; /*this shows how high i want it to be positioned*/
  letter-spacing: 0.1em; /*spaces in between the letters*/
  color: white; /*color of the letters*/
  
}

h3 {
  display: flex; /*this makes it easier to organize and space things out the way i want on my webpage*/
  font-size: 0.95em; /*the size of the letters*/
  font-weight: 110; /* how thick i want the letter to be*/
  align-items: center; /* this tells the webpage which position it should have*/
  justify-content: center; /* this tells the webpage which position it should have*/
  color: rgb(145, 145, 145); /*color of the letters*/
  


}

h4 {
  display: flex; /*this makes it easier to organize and space things out the way i want on my webpage*/
  justify-content: center; /* this tells the webpage which position it should have*/
  align-items: center; /* this tells the webpage which position it should have*/
  text-align: center; /* this tells the webpage which position the text should have*/
  color: rgb(79, 77, 77);
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(79, 77, 77); /* Increase border width to 2px */
  border-radius: 0; 
  height: 4em; /* Decrease the height to make it longer vertically */
  width: 20em; /* Decrease the width to make it closer to the text */
  transform: translate(175%, -50%);
}



.profile {
  width: 30%;
  position: relative;
  text-align: center;
  opacity: 0; /* Start with profiles hidden */
  transform: translateY(100px); /* Start with profiles below the screen */
}

.profile#r1{
  animation: slideIn 1s ease-in-out forwards; /* Animation for sliding in */
}

.profile#r2{
  animation: slideIn 1.2s ease-in-out forwards; /* Animation for sliding in */
}

.profile#r3{
  animation: slideIn 1.4s ease-in-out forwards; /* Animation for sliding in */
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-frame {
 
  border: 2px solid #cccccc00; 
  padding: 10px; 
  margin: 20px; 
  background-color: rgba(255, 255, 255, 0); 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}


.profile-image { 
  position: absolute;
  top: -100px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.profile-info {
  padding-top: 130px; 
}



.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  background-color: rgb(127, 124, 124);
  border-radius: 20px;
  display: none;
  z-index: 1000;
  
}

.popup-content {
  padding: 20px;
  text-align: center;
  color:white
}

.popup-arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
}

